/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* Global Layout Set-up */
* {
 	-webkit-box-sizing: border-box;
 	        box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Merriweather', Arial, sans-serif;
	color: #000;
	/* Cambridge Blue */
	background: #fff;
}


/*  background color for header block, headers, divider #2d3945 */
header {

}

h1, h2, h3 {

}


/*  input background color #eff0f1/eee, ccc for text? */
/* p text using #55687a */


/* -----

Focus state color for text field needs to be changed and transition needs to be added for exceeds

----- */
input:focus,
textarea:focus {
    border: 1px solid #46698b;
}

/* Layout Styles */
/* -----

Need to change background color of one of the main sections of the site

----- */

/* Media Queries */
@media (min-width:768px) {


}
